<div class="container d-flex"
  style="width: 15vw; height: 15vh; display: flex; justify-content: center; align-items: center;">
  <img style="object-fit: contain; width: 100%; height: 100%;" class="img-fluid" src="/images/company-logo.png"
    alt="Product image">
</div>


<h2 class="m-1 mb-1 text-center">Login</h2>

<hr class="mb-4">

<form action="/auth/login" method="POST" class="m-3">
  {{#if errorMessage}}
  <p class="error alert alert-warning" role="alert">{{errorMessage}}</p>
  {{/if}}
  <div class="row">
    <div class="col-6 mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input class="form-control" type="text" name="username" placeholder="Your username">
    </div>
    <div class="col-6 mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" placeholder="Your password" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col text-end">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="col text-start">
      <a href="/auth/signup" class="btn btn-danger">Sign up</a>
    </div>
  </div>


</form>