<h2 class="m-1 mb-1 text-center">Create a new user</h2>

<hr class="mb-4">

<div id="form">
  <form action="/auth/signup" method="POST" enctype="multipart/form-data" class="m-3">

    {{#if errorMessage}}
    <p class="error alert alert-warning" role="alert">{{errorMessage}}</p>
    {{/if}}

    <div class="container d-flex">

    </div>
    <div class="row">

      <div class="col-4">
        <label> First name</label>
        <input class="form-control" type="text" name="firstName" placeholder="Your first name" />

      </div>
      <div class="col-4">
        <label> Last name</label>
        <input class="form-control" type="text" name="lastName" placeholder="Your last name" />

      </div>
      <div class="col-4">
        <label> Username</label>
        <input class="form-control" type="text" name="username" placeholder="Your username" />
      </div>

    </div>

    <div class="row">

      <div class="col-4">
        <label> Email</label>
        <input class="form-control" type="email" name="email" placeholder="Your email" />
      </div>

      <div class="col-4">
        <label> Password</label>
        <input class="form-control" type="password" name="password" placeholder="Your password" />
      </div>

      <div class="col-4">
        <label for="role" >Role</label>
        <select class="form-select" id="role" name="role">
          <option value="Manager">Manager</option>
          <option value="Administrator">Administrator</option>
          <option value="Member">Member</option>
        </select>
      </div>

    </div>
    <div class="row">
      <div class="col-4">
        <label for="department" >Department</label>
        <select class="form-select" id="department" name="department">
          <option value="Production">Production</option>
          <option value="Human Resources">Human Resources</option>
          <option value="Financial">Financial</option>
          <option value="Executive Management">Executive Management</option>
          <option value="Information and Technology">Information and Technology</option>
          <option value="Quality Assurance">Quality Assurance</option>
          <option value="Sales">Sales</option>
          <option value="Marketing">Marketing</option>
        </select>      
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label for="image">Profile Picture</label>
          <input type="file" class="form-control" id="image" name="image">
        </div>
      </div>

    </div>

    {{!-- need to change to select input later --}}



    <div class="row">
      <div class="col text-center m-3">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>



  </form>
</div>